
<footer id="footer">

    <div class="linkbar">
        
        <a href="#start"><img src="./../../../../assets/img/saklogo.png" alt="Sakura Ramen München"></a>
        

        <div class="socialm">
            <a href="http://www.facebook.com"> <img src="./assets/img/fb.png" alt=""></a>
            <a href="http://www.instagram.com"><img src="./assets/img/ins.png" alt=""></a>
            <a href="http://www.tripadvisor.com/"><img src="./assets/img/tripad.png" alt=""></a> 
        </div>

    </div>

    <div class="footer-imp">
        <a href="imprint">Impressum</a>
        <a href="">Datenschutz</a>
        <a href="">Kontakt</a>
    </div>


</footer>
