<section id="ourmenu">
    
    <div>
        <h2>Our menu</h2>
    </div>
    
    <!-- Tonkasu Ramen -->
    <div class="menucard">

        <img src="./assets/img/r1.png" alt="">

        <div class="dish">  

            <h3>Tonkasu Ramen</h3>

            <table>
                <tr>
                    <td>Chicken</td>
                    <td>11.95 €</td>
                </tr>

                <tr>
                    <td>Beef</td>
                    <td>12.95 €</td>
                </tr>
        
                <tr>
                    <td>Shrimp</td>
                    <td>13.95 €</td>
                </tr>

            </table>
        </div>


    </div>

    <!-- Spicy Miso Ramen -->
    <div class="menucard_rev">

        <img src="./assets/img/r2.png" alt="">

        <div class="dish">  

            <h3>Spicy Miso Ramen</h3>

            <table>
                <tr>
                    <td>Chicken</td>
                    <td>11.95 €</td>
                </tr>

                <tr>
                    <td>Beef</td>
                    <td>12.95 €</td>
                </tr>
        
                <tr>
                    <td>Shrimp</td>
                    <td>13.95 €</td>
                </tr>

            </table>
        </div>
    </div>

    <!-- Shio Ramen -->
    <div class="menucard">

        <img src="./assets/img/r3.png" alt="">

        <div class="dish">  

            <h3>Shio Ramen</h3>

            <table>
                <tr>
                    <td>Chicken</td>
                    <td>11.95 €</td>
                </tr>

                <tr>
                    <td>Beef</td>
                    <td>12.95 €</td>
                </tr>
        
                <tr>
                    <td>Shrimp</td>
                    <td>13.95 €</td>
                </tr>

            </table>
        </div>
    </div>
</section>
