<section id="howto">

    <div class="headline2">
        <h2>How to order</h2>
    </div>

    <div class="howto_wrapper">

        <div class="order_disc">
            <img src="./assets/img/bowl_icon.jpg" alt="">
            <h3>Pick <br> Your Noodle</h3>  
        </div>
        
        <div class="order_disc">
            <img src="./assets/img/broth_icon.png" alt="">
            <h3>Pick <br> Your Broth</h3> 
        </div>
    
        <div class="order_disc">
            <img src="./assets/img/eggs_icon.jpg" alt="">
            <h3>Add your <br> toppings </h3> 
        </div> 

    </div>

</section>
